[unstable]
build-std = ["core", "compiler_builtins"]
build-std-features = ["compiler-builtins-mem"]

[build]
rustflags = ["--emit", "asm", "-C", "llvm-args=-x86-asm-syntax=intel", "-C", "save-temps", "--emit=llvm-ir"]
target = "x86_64-target.json"

[target.'cfg(target_os = "none")']
runner = "qemu-system-x86_64 -cdrom ./build/os.iso"